header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    border-bottom: 4px solid #111;
    align-content: center;
    background: transparent;
    padding: 2rem 5rem;

    h3 {
        font-size: 2rem;
        text-transform: uppercase;
    }

    .nav-links {
        list-style: none;
        display: flex;
        gap: 3rem;
        align-self: center;
        text-transform: uppercase;
        
    }
}

a {
    text-decoration: none;
    color: #111;
    font-weight: 500;
}